<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BowlingGame.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C08F8BC2B75A6C8000086E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C08F8CC2B75A6CD000086E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C08F8D62B75A6CE000086E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
